@import url("https://fonts.googleapis.com/css?family=Oswald");

html,body{
  padding: 0;
  margin:0;
  height:100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-navbar{
  float: left;
  width: 25vw;
  height: 82vh;
  background-color: #fff;
  margin:0,auto;
 z-index: 2;
 position: absolute;
 transition: 1s;
 left:-700px;
 display: none;
}

.left-navbar.activate{

  transition: 3s;
  transform: translate(700px, 0);
  display: block;
}

li{
  color:#fff;
}


ul{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top:10%;
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left:10px;
    top:10px;
}

.line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}



.topbar{
  height:10vh;
  width:100%;
  background-color: #595959;
  padding: 0;
  margin: 0;
}

.locationInput{
  position: relative;
  width:70%;
  margin-top:10px;
  padding: 11px;
}

/*.search-btn{
  position: relative;
  display: inline-block;
  width:15%;
  top:14px;
  background-image: url("images/images.png");
  height: 40px;
  background-color: #1affff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 35px;
  border: 0px;
  background-color: #ffff;
  border: 1px solid black;
  border-radius: 4px;
}
 */
button:hover{
  outline-color: blue;
}


  .container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }


.map-container{
  position: absolute;
  width: 100%;
  height: 90vh;
}

  #map{
    height: 100%;
    width: 100%;
    right: 0;
  }


.list-locations{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 10px;
  padding-top: 9px;
  color: Black;
  height: 20px;
  font-size: 18px;
  border-bottom: 2px solid #E6EAEA
}

.list-locations:hover{
  background-color:  #00ffcc;
  text-decoration: underline;
}

.list-locations:focus{
  background-color:  #00ffcc;
  text-decoration: underline;
}

.infoWindowContent{

  font-weight: bold;
  font-size: 18px;
}


@media screen and (max-width: 1000px){

  .left-navbar{
    width:40vw;
  }
}



@media screen and (max-width: 610px){
  .left-navbar{
    width:50vw;
  }
  .list-locations{
    font-size: 13px;
  }
}
